/*= require ./jquery.ui */

@font-face {
  font-family: "OpenSansItalic";
  src: url("opensans-italic-webfont.eot");
  src: url("opensans-italic-webfont.eot?#iefix") format("embedded-opentype"),
  url("opensans-italic-webfont.woff") format("woff"),
  url("opensans-italic-webfont.ttf") format("truetype"),
  url("opensans-italic-webfont.svg#OpenSansItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSansRegular";
  src: url("opensans-regular-webfont.eot");
  src: url("opensans-regular-webfont.eot?#iefix") format("embedded-opentype"),
  url("opensans-regular-webfont.woff") format("woff"),
  url("opensans-regular-webfont.ttf") format("truetype"),
  url("opensans-regular-webfont.svg#OpenSansRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSansSemibold";
  src: url("opensans-semibold-webfont.eot");
  src: url("opensans-semibold-webfont.eot?#iefix") format("embedded-opentype"),
  url("opensans-semibold-webfont.woff") format("woff"),
  url("opensans-semibold-webfont.ttf") format("truetype"),
  url("opensans-semibold-webfont.svg#OpenSansSemibold") format("svg");
  font-weight: normal;
  font-style: normal;
}

html, body {
  margin: 0px;
  padding: 0px;
  background: url('bg.jpg') repeat 0 0;
  font-weight: normal;
  font-family: 'OpenSansRegular';
}

#launchpad {
  background-color: black;
  color: white;
  font-size: 10px;
  padding: 6px;
}

#launchpad h1 {
  display: inline-block;
  float: left;
  margin: 0px 20px 0px 15px;
  padding: 0px;
  font-size: 10px;
  color: #999;
  font-weight: normal;
  font-family: 'OpenSansSemibold';
}

#launchpad ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

#launchpad li {
  float: left;
  margin-right: 20px;
}

#launchpad li:last-child {
  float: none;
}

#launchpad a {
  color: #999;
  text-decoration: none;
}

#launchpad a:hover {
  color: white;
}

.launchpad-surround {
  position: relative;
  margin: 0px 20px;
}

.launchpad-surround h1 {
  border-bottom: 1px solid #ddd;
  margin-top: 15px;
  font-size: 1.7em;
  padding-bottom: 12px;
}

.launchpad-surround h2 {
  margin-top: 35px;
  font-size: 1.2em;
  padding-bottom: 12px;
  border-bottom: 1px solid #ddd;
}

.launchpad-surround ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.launchpad-surround ul.details li {
  margin-bottom: 8px;
}

.launchpad-surround ul.details label {
  font-family: 'OpenSansItalic';
  width: 100px;
  display: inline-block;
}

.launchpad-surround .search {
  height: 40px;
  margin-top: 10px;
  margin-bottom: -13px;
  position: relative;
}

.launchpad-surround .search .bar {
  position: absolute;
  width: 278px;
  height: 42px;
  background: url('search.png') no-repeat 0 0;
  right: 60px;
  top: 5px;
}

.launchpad-surround .search .bar input[type="text"] {
  border: none;
  font-size: 14px;
  outline: none;
  margin-top: 11px;
  margin-left: 45px;
  width: 220px;
  background-color: #FAFAFA;
}

.launchpad-surround .top-left {
  background: url('top-left.png') no-repeat 0 0;
  width: 24px;
  height: 56px;
  float: left;
}

.launchpad-surround .top-middle {
  background: url('top.png') repeat-x 0 0;
  height: 56px;
  margin-left: 24px;
  margin-right: 24px;
}

.launchpad-surround .top-right {
  background: url('top-right.png') no-repeat 0 0;
  width: 24px;
  height: 56px;
  float: right;
  margin-right: 1px;
  margin-top: -56px;
}

.launchpad-surround .left {
  background: url('left.png') repeat-y 0 0;
}

.launchpad-surround .right {
  background: url('right.png') repeat-y right 0;
  margin-right: 0px;
}

.launchpad-surround .bottom-left {
  background: url('bottom-left.png') no-repeat 0 0;
  width: 24px;
  height: 56px;
  float: left;
}

.launchpad-surround .bottom-middle {
  background: url('bottom.png') repeat-x 0 0;
  height: 56px;
  margin-left: 24px;
  margin-right: 24px;
}

.launchpad-surround .bottom-right {
  float: right;
  margin-top: -56px;
}

.launchpad-surround .bottom-right {
  background: url('bottom-right.png') no-repeat right 0;
  width: 24px;
  height: 56px;
}

.launchpad-surround .content {
  position: relative;
  background-color: white;
  margin: 0px 6px;
  padding: 0px 20px;
  overflow: auto;
}

.launchpad-surround .footer img {
  display: block;
  margin: 0px auto 30px auto;
}

.launchpad-menu ul {
  list-style: none;
  position: absolute;
  top: 45px;
  left: 30px;
  z-index: 1000;
  font-size: 1em;
  overflow: auto;
}

.launchpad-menu ul li {
  display: inline-block;
  margin-right: 20px;
}

.launchpad-menu ul li a {
  color: #ABA8A5;
  text-shadow: 1px 1px 1px white;
  text-decoration: none;
}

.launchpad-menu ul li a:hover {
  text-decoration: underline;
}

.user-workflow-state {
  font-size: .6em;
  line-height: 1em;
  vertical-align: middle;
  padding: 3px 6px;
  border-radius: 5px;
}

.user-workflow-state.active {
  background-color: green;
  color: white;
}

.user-workflow-state.converting {
  background-color: orange;
  color: white;
}

.user-workflow-state.unconverted {
  background-color: #FF3300;
  color: white;
}

.errors .alert span {
  background-color: brown;
  color: white;
  padding: 2px 7px;
  border-radius: 5px;
}

.field_with_errors {
  display: inline-block;
  border: 2px solid brown;
}
