<header id="launchpad">
  <h1>Launchpad</h1>
  <nav>
    <ul>
    	<li><%= link_to 'Sponsors', 'http://sponsors.teachbanzai.com' %></li>
    	<li><%= link_to 'Support', 'http://support.teachbanzai.com' %></li>
    	<li><%= link_to 'Outreach', 'http://outreach.teachbanzai.com' %></li>
    </ul>
  </nav>
</header>
