<!DOCTYPE html>
<html>
<head>
  <title>Launchpad</title>
  <%= stylesheet_link_tag    "launchpad/application", :media => "all" %>
  <%= javascript_include_tag "launchpad/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
